body {
  background: black;
  font-family: 'Consolas', sans-serif;
}

.glitch {
  color: white;
  font-size: 14px;
  position: relative;
  width: 900px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(13px, 9999px, 659px, 0);
  }
  20% {
    clip: rect(141px, 9999px, 87px, 0);
  }
  40% {
    clip: rect(218px, 9999px, 482px, 0);
  }
  60% {
    clip: rect(250px, 9999px, 12px, 0);
  }
  80% {
    clip: rect(213px, 9999px, 10px, 0);
  }
  100% {
    clip: rect(66px, 9999px, 20px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 8s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(308px, 9999px, 1605px, 0);
  }
  6.66667% {
    clip: rect(651px, 9999px, 215px, 0);
  }
  13.33333% {
    clip: rect(47px, 9999px, 1694px, 0);
  }
  20% {
    clip: rect(514px, 9999px, 1660px, 0);
  }
  26.66667% {
    clip: rect(134px, 9999px, 1294px, 0);
  }
  33.33333% {
    clip: rect(255px, 9999px, 1619px, 0);
  }
  40% {
    clip: rect(932px, 9999px, 1272px, 0);
  }
  46.66667% {
    clip: rect(373px, 9999px, 1030px, 0);
  }
  53.33333% {
    clip: rect(661px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(669px, 9999px, 1192px, 0);
  }
  66.66667% {
    clip: rect(695px, 9999px, 1496px, 0);
  }
  73.33333% {
    clip: rect(747px, 9999px, 1001px, 0);
  }
  80% {
    clip: rect(721px, 9999px, 1542px, 0);
  }
  86.66667% {
    clip: rect(533px, 9999px, 727px, 0);
  }
  93.33333% {
    clip: rect(606px, 9999px, 1599px, 0);
  }
  100% {
    clip: rect(648px, 9999px, 1318px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: black;
  overflow: hidden;
  clip: rect(0, 20px, 0, 0);
  animation: noise-anim-2 10s infinite linear alternate-reverse;
}
