
#trail0 {
    /*z-index: 5;*/
    position: absolute;
    margin-top: 2px;
        left: 13px;
      right : 0x;
      width : 600;
      height: 600;
      z-index : 1;

      /*margin-left : 20em;*/

}
#trail1 {
    /*z-index: 5;*/
    position: absolute;
    margin-top: 2px;
    /*display : none;*/
        left: 13px;
      right : 0px;
      width : 600;
      height: 600;
      z-index : 1;
      /*margin-left : 80em;*/
}
#trail2 {
    /*z-index: 5;*/
    position: absolute;
    margin-top: 2px;
    /*display : none;*/
        left: 13px;
      right : 0px;
      width : 600;
      height: 600;
      z-index : 1;

      /*margin-left : 80em;*/
}
#trail3 {
    /*z-index: 5;*/
    position: absolute;
    margin-top: 2px;
    /*display : none;*/
        left: 13px;
      right : 0px;
      width : 600;
      height: 600;
      z-index : 1;

      /*margin-left : 80em;*/
}
#trail4 {
    /*z-index: 5;*/
    position: absolute;
    margin-top: 2px;
    /*display : none;*/
        left: 13px;
      right : 0px;
      width : 600;
      height: 600;
      z-index : 1;

      /*margin-left : 80em;*/
}
#trail5 {
    /*z-index: 5;*/
    position: absolute;
    margin-top: 2px;
    /*display : none;*/
        left: 13px;
      right : 0px;
      width : 600;
      height: 600;
      z-index : 1;

      /*margin-left : 80em;*/
}


#canv0 {
    /*z-index: 6;*/
    position: absolute;
    /*margin-left : 4em;*/
    /*margin-top  : 4em;*/
}
#canv1 {
    /*z-index: 6;*/
    position: absolute;
}
#canv2 {
    z-index: 4;
    position: absolute;
}
#canv3 {
    z-index:3;
    position: absolute;
}
#page1_canv0 {
    /*z-index: 6;*/
       position : absolute;
    /*margin-left : 10em;*/
    /*margin-left : 5px;*/
    /*margin-top  : 10px;*/

}
#page1_canv1 {
    /*z-index: 6;*/
       position : absolute;
    /*margin-left : 5px;*/
    /*margin-top  : 10px;*/

}
#page1_canv2 {
    /*z-index: 4;*/
       position : absolute;
    /*margin-left : 5px;*/
    /*margin-top  : 10px;*/

}
#page1_canv3 {
    /*z-index:3;*/
       position : absolute;
    /*margin-left : 5px;*/
    /*margin-top  : 10px;*/


}

#page2_canv0 {
   position : absolute;
   /*margin-left: 20em*/
    /*height  : 600;
    width   : 600;*/
}
#canv4 {
    z-index: 2;
    position: absolute;
}
#canv5 {
    z-index: 1;
    position: absolute;
}
#redactionCanvas3 {
    z-index: 3;
}
#redactionCanvas4 {
    z-index: 4;
}
#redactionCanvas5 {
    z-index: 5;
}

/*#indexText {
    margin-left: 30em;
    margin-top: 30em;
    position:absolute;
    text-decoration: none;
    font-family:monospace;
}*/

.intersectionCanvas {
    visibility: collapse;
    /*width: 600;*/
    /*height: 600;*/
}
.clippingPlane {
    visibility: collapse;
    /*width: 600;*/
    /*height: 600;*/
}

#first_quote{
    margin-top : 30em;
}
#first_quote_div{
  position: absolute;
    margin-top : 70px;
    margin-left: 800;
    width: 300px
}
#index_div{
  position: absolute;
  width: 500px;
  margin-left: 32%;
  top: 60%;
}
#index_div2{
  position: absolute;
  width: 500px;
  margin-left: 32%;
  top: 95%;
}
#second_quote_div {
  position: absolute;
    margin-top : 70px;
    margin-left: 800;
    width: 300px

}
#third_quote_div{
  position: absolute;
    margin-top : 70px;
    margin-left: 800;
    width: 300px

}
.onTheRedactionCanvas{
   position : absolute;
   /*width: 600;*/
   /*height: 600;*/
}
#page3_canv0{
   postion : absolute;
   z-index : 6;
   cursor:crosshair;
   /*width: 600;*/
   /*height: 600;*/
}
#page3_canv1{
   postion : absolute;
   z-index : 5;
   cursor:crosshair;
   /*width: 600;*/
   /*height: 600;*/
}
#page3_canv2{
   postion : absolute;
   z-index : 4;
   cursor:crosshair;
   /*width: 600;*/
   /*height: 600;*/
}
#page3_canv3{
   postion : absolute;
   z-index : 3;
   cursor:crosshair;
   /*width: 600;*/
   /*height: 600;*/
}
#page3_canv4{
   postion : absolute;
   z-index : 2;
   cursor:crosshair;
   /*width: 600;*/
   /*height: 600;*/
}
#page3_canv5{
   postion : absolute;
   z-index : 1;
   cursor:crosshair;
   /*width: 600;*/
   /*height: 600;*/
}
#tv_canvas{
  z-index: -1;
  position:absolute;
  /*align-items: center;*/
/*justify-content: center;*/
   /*margin-left : auto;*/
   /*margin-top  : auto;*/
   transform: translate(25%, 50%);
}


#tv_static {
    z-index: 1;
    postion : absolute;
    /*align-items: center;*/
/*justify-content: center;*/
    /*margin-left : auto;*/
    /*margin-top  : auto;*/
    transform: translate(25%, 50%);
}
