.arrow{
  margin-bottom : 1.5em;
}

.single_image{
  height : 100%;
}

.label{
  font-family : monospace;
  line-height : 0.6;
}

.title{
  font-weight : bold;
}

.label_div{
    float: left;
}

.audio_div{
    float: right;
}

audio {
   /* width      : 100% !important; */
   min-height : 40px;
   display    : block;
}
/* body{
  background : black;
} */
