.arrow{
  margin-bottom : 1.5em;
}

.single_image{
  height : 100%;
}

.label{
  font-family : monospace;
}

.title{
  font-weight : bold;
}

.label_div{
    float: left;
}

.audio_div{
    float: right;
}
/* body{
  background : black;
} */
